{% extends 'meals/base.html' %}

{% block title %}Meal Details{% endblock %}

{% block content %}
    <style>
        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 1em;
        }

        .search-bar {
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
        }

        .search-bar input[type="text"] {
            flex: 1;
            padding: 0.5em;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 2em 0;
            font-size: 1em;
            text-align: left;
        }

        th, td {
            padding: 1em;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f4f4f4;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>

    <h1>Meal Details</h1>
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search...">
    </div>
    {% for date, persons in meal_data.items %}
        <h2>{{ date }}</h2>
        <table id="meal-data-table">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>Meals Taken</th>
                </tr>
            </thead>
            <tbody>
                {% for person, meals_taken in persons.items %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ meals_taken }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <script>
        const searchInput = document.getElementById('search-input');
        const table = document.getElementById('meal-data-table');
        const rows = table.getElementsByTagName('tr');

        searchInput.addEventListener('input', function() {
            const searchTerm = searchInput.value.toLowerCase();
            Array.from(rows).forEach(function(row) {
                const firstCell = row.getElementsByTagName('td')[0];
                if (firstCell) {
                    const text = firstCell.textContent.toLowerCase();
                    row.style.display = text.includes(searchTerm) ? '' : 'none';
                }
            });
        });
    </script>
{% endblock %}

